page-classes-minhas {

  .cadastrados_button{
    background-color:$greendark!important
  }
  .cadastrados_button:hover{
    background-color:$greenish!important
  }
  .cadastrados_button:active{
    background-color:$green!important
  }

}
